input {
  outline: none;
  box-shadow:none !important;
  border:1px solid #8bb9ff !important;
}

.form-control[type=email] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  &.form-control-middle {
    border-radius: 0;
    margin-bottom: -1px;
  }
}
